body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #f0efed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    width: 350px;
    height: 420px;
    background-color: #f0d0d1;
    border: 20px solid #fff;
    position: relative;
}